<%- include('partials/header') %>
		<div class="background-comunidad">
				<div class="lefted-title">
					<h2><%= categoria %></h2>
				</div>
				<div class="centered-title">
					<h2><%= titulo_articulo %></h2>
				</div>
				<div class = "cuadro-elementos">
					<div class="imagen-articulo">
						<img src="<%= imagen_articulo %>" alt="Imagen de ejercicio">
						<div class="star-icon">★</div>
					</div>
				</div>
				<div class="margin-left">
					<p class="author-name"><%= usuario_escritor %></p>
					<div class="reaction-buttons carousel-item">
						<button class="likeButton reaction-btn">👍 <span class="likeCount"><%= likes %></span></button>
						<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount"><%= dislikes %></span></button>
					</div>
				</div>
				<p class="descripcion-articulo"> <%= descripcion %></p>
				<%- include("chat", {}) %>
	<%- include("footer", {}) %>
