<%- include("header", {}) %>
		<div class= "background-comunidad">
			<div class="columnas">
				<div class="principal">
					<div class= "centered-title">
						<h1>Comunidad</h1>
					</div>
				</div>
				<% if(user) { %>
				<div class="secundario">
					<div class= "caja"> 
						<a href= "articulo_comunidad_editable">
							<h3>Publicar <br> ejercicio</h3>
						</a>
					</div>
				</div>
				<% }%>
			</div>
			<div class= "centered-title">
				<h3>Mas Gustados</h3>
			</div>
			<br>
			<div class="container">
				<div id="theCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#theCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#theCarousel" data-slide-to="1"></li>
						<li data-target="#theCarousel" data-slide-to="2"></li>
						<li data-target="#theCarousel" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<a href= "articulo_comunidad_editable/1">
								<img src= "/images/img1.jpg" alt="Imagen 1" > 
								<div class="carousel-caption d-none d-md-block">
									<h3> Título 1</h3>
									<p>Usuario 1</p>
								</div>
							</a>
						</div>
						<div class="item">	
							<a href= "articulo_comunidad">
								<img src="images/img2.jpg" alt="Imagen 2" > 
								<div class="carousel-caption d-none d-md-block">
									<h3> Título del artículo</h3>
									<p>Usuario 2</p>
								</div>
							</a>
						</div>
						<div class="item">	
							<a href= "articulo_comunidad">
								<img src="images/img3.jpg" alt="Imagen 3" >
								<div class="carousel-caption d-none d-md-block">
									<h3> Título del artículo</h3>
									<p>Usuario 3</p>
								</div>
							</a>
						</div>
						<div class="item">	
							<a href= "articulo_comunidad">
								<img src="images/img4.jpg" alt="Imagen 4" > 
								<div class="carousel-caption d-none d-md-block">
									<h3> Título del artículo</h3>
									<p> Usuario 4</p>
								</div>
							</a>
						</div>
						<a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">anterior</span>
						</a>
						<a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">siguiente</span>
						</a>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="container-recomendaciones">
				<div class= "lefted-title">
					<h1>Recomendaciones de ejercicios</h1>
				</div>
				<div class="container-carousel">
					<% for (let i = 0; i < articulos.length; i++) { %>
					<div class="columna"> 
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="<%= articulos[i].imagen_articulo %>" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name"><%= articulos[i].usuario_escritor %></p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
										<a href= "<%= articulos[i].pagina_enlaces %>">
											<p><%= articulos[i].titulo_articulo %></p>
											<div class="descripcion">
												<p><%= articulos[i].descripcion %></p>
											</div>
										</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount"><%= articulos[i].numero_likes %></span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount"><%= articulos[i].numero_dislikes %></span></button>
									</div>
								</div>
							</div>
						</div>
						<% i++ %>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="<%= articulos[i].imagen_articulo %>" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name"><%= articulos[i].usuario_escritor %></p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
										<a href= "<%= articulos[i].pagina_enlaces %>">
											<p><%= articulos[i].titulo_articulo %></p>
											<div class="descripcion">
												<p><%= articulos[i].descripcion %></p>
											</div>
										</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount"><%= articulos[i].numero_likes %></span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount"><%= articulos[i].numero_dislikes %></span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% } %>
				</div>
				<div class="pagination-buttons">
				</div>
			</div>
		</div>
		<%- include("footer", {}) %>