<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<%- include('partials/header') %>
		<div class= "background-comunidad">
			<div class="columnas">
				<% if(user) { %>
					<div class="secundario">
						<div class="caja">
							<a href="articulo_comunidad_editable">
								<h3>Publicar <br> post</h3>
							</a>
						</div>
					</div>
					<div class="secundario-izquierda">
						<div class="caja">
							<a href="ejercicios/publicar_ejercicio">
								<h3>Publicar <br> ejercicio</h3>
							</a>
						</div>
					</div>
				<% } %>
				
				<div class="principal">
					<div class= "centered-title">
						<h1>Comunidad</h1>
					</div>
				</div>
			</div>
			<div class= "centered-title">
				<h3>Mas Gustados</h3>
			</div>
			<br>
			<div class="container">
				<div id="theCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<% for (let i = 0; i < numero_carrusel; i++) { %>
							<% if(i== 0) { %>
						<li data-target="#theCarousel" data-slide-to="<%= i %>" class="active"></li>
							<% } else { %>
						<li data-target="#theCarousel" data-slide-to="<%= i %>"></li>
							<% } %>
						<% } %>
					</ol>
					<div class="carousel-inner" role="listbox">
						<% for (let i = 0; i < numero_carrusel; i++) { %>
							<% if(i== 0) { %>
						<div class="item active">
							<% } else { %>
						<div class="item">	
							<% } %>
							<a href= "<%= articulos[i].pagina_enlaces %>">
								<img src= "<%= articulos[i].imagen_articulo %>" alt="Imagen 1" > 
								<div class="carousel-caption d-none d-md-block multiple-lines">
									<h3> <%= articulos[i].titulo_articulo %></h3>
									<p><%= articulos[i].usuario_escritor %></p>
								</div>
							</a>
						</div>
						<% } %>
						<a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">anterior</span>
						</a>
						<a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">siguiente</span>
						</a>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="container-recomendaciones">
				<div class= "lefted-title">
					<h1>Recomendaciones de ejercicios</h1>
				</div>
				<%- include('partials/articulos') %>
			</div>
		</div>
		<%- include("footer", {}) %>