<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body class="fondo-ejer-validar">
    <%- include('partials/header') %>

    <h2 class="exercise-title">Ejercicio a validar</h2>

    <div class="exercise-container" style="text-align: center; margin-top: 20px;">
        <h2>Ejercicio: <%= ejercicio.titulo %></h2>
        <p>Publicado por: <strong><%= ejercicio.autor %></strong></p>

        <% if (ejercicio.video.endsWith('.mp4') || ejercicio.video.endsWith('.mov')) { %>
            <video controls style="max-width: 80%; height: auto;">
                <source src="<%= ejercicio.video %>" type="video/mp4">
                Tu navegador no soporta este video.
            </video>
        <% } else { %>
            <img src="<%= ejercicio.video %>" alt="Imagen del Ejercicio" style="max-width: 80%; height: auto;">
        <% } %>

        <div class="action-buttons" style="margin-top: 20px;">
            <form action="/ejercicio_a_validar/aceptar" method="post" style="display: inline-block;">
                <input type="hidden" name="id" value="<%= ejercicio.id %>">
                <button type="submit" class="accept-button">Aceptar</button>
            </form>
            <form action="/ejercicio_a_validar/rechazar" method="post" style="display: inline-block; margin-left: 10px;">
                <input type="hidden" name="id" value="<%= ejercicio.id %>">
                <button type="submit" class="reject-button">Rechazar</button>
            </form>
        </div>
        
    </div>

    <div class="back-button-container" style="margin-top: 20px;">
        <button onclick="window.location.href='/ejercicios_supervisar'" class="back-button">Volver</button>
    </div>
</body>
</html>




