
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="css/estilos.css"> <!-- Enlace al archivo CSS -->
</head>
<body class="fondo-gestion-usuarios">
    <%- include('partials/header') %> <!-- Incluir el header -->
    <script src="js/script.js"></script>

    <h1 class="user-management-title">Gestión de Usuarios</h1>

    <table class="user-management-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Correo Electrónico</th>
                <th>Nombre</th>
                <th>Contraseña</th>
                <th>Es Admin</th>
                <th>Baneado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(usuario => { %>
                <tr>
                    <td><%= usuario.id %></td>
                    <td><%= usuario.correo_electronico %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.contrasena %></td>
                    <td><%= usuario.es_admin ? 'Sí' : 'No' %></td>
                    <td><%= usuario.baneado ? 'Sí' : 'No' %></td>
                    <td>
                        <% if (!usuario.baneado) { %>
                            <form action="/gestion_usuarios/banear" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="<%= usuario.id %>">
                                <button type="submit">Banear</button>
                            </form>
                        <% } else { %>
                                Baneado
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>


